<!DOCTYPE html>
<html lang="en">



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>


 {% block stylesheets %}
    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="{{ asset('css/clean-blog.css') }}"  type="text/css" />
   {% endblock %}

{% block header %}
<headerr>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                        <a href="{{ path('BDE_site_Accueil') }}">Site du BDE de l'ISEP</a>
                        </li>
                        
                    <li>
                        <a href="{{ path('BDE_site_Accueil') }}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('BDE_site_ISEP') }}">Isep</a>
                    </li>

                   <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Association <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('BDE_site_ISEPLIVE') }}">Iseplive</a></li>
            <li><a href="{{ path('BDE_site_JUNIORISEP') }}">Junior ISEP</a></li>
            <li><a href="{{ path('BDE_site_Asso') }}">Move your AS</a></li>
            <li><a href="{{ path('BDE_site_ISEPVOILE') }}">Isep Voile</a></li>
            <li><a href="{{ path('BDE_site_ELLYPSIS') }}">Ellypsis</a></li>
            <li><a href="{{ path('BDE_site_ISEPBANDS') }}">ISEP BANDS</a></li>
            <li><a href="{{ path('BDE_site_ISEPTRANSAHARIENNE') }}">La transaharienne</a></li>
            <li><a href="{{ path('BDE_site_ISEPTRAVEL') }}">ISEP TRAVEL</a></li>
          </ul>
        </li>
                    <li>
                        <a href="{{ path('BDE_site_Cal') }}">Calendrier</a>
                        
                    </li>
                                        <li>
                        
                         {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }}
    -
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}       </a>
                   </a>     
                    </li>

    
        </ul>


          </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
      {% block img %}
  {% endblock %}                      
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    </headerr>
{% endblock %}
<body>
  {% block body %}
    {% endblock %}
</body>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.facebook.com/7tease">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
        
                </div>
            </div>
        </div>
    </footer>
 {% block javascripts %}
    <!-- jQuery -->

<script type="text/javascript" src="{{ asset('js/jquery.js')  }}"></script>
    <!-- Bootstrap Core JavaScript -->

<script type="text/javascript" src="{{ asset('js/bootstrap.min.js')  }}"></script>
    <!-- Custom Theme JavaScript -->
<script type="text/javascript" src="{{ asset('js/clean-blog.min.js')  }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
{% endblock %}
</html>
